.headerWrapper {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-items: center;
    /* justify-content: center; */
    padding: 0 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

.headerWrapperFixed {
    /* margin-top: 24px; */
    background-color: #FFCCD5;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
}

.logoContainer {
    height: 120px;
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0 20px;
}

.activeNav {
    font-weight: 600 !important;
    color: #FB6F92 !important;
}

.navLinks:hover {
    color: #FB6F92 !important;
}

.navLinks {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.switchBtnLng {
    /* border: 1px solid #014325; */
    padding: 5px 20px;
    font-weight: 500;
    /* border-radius: 20px; */
}

.loginBtn {
    border: 1px solid #FB6F92;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 20px;
}

.rightHeader {
    align-items: center;
    justify-content: center;
}

.noneDecoration {
    text-decoration: none;
    color: #FB6F92;
}

@media(max-width:1023px) {
    .headerWrapper {
        margin-top: 0;
    }

    .rightHeader {
        display: none;
    }

    .navContainer {
        display: none;
    }
}

/* 
sm 40rem (640px) 
md 48rem (768px) 
lg 64rem (1024px) 
xl 80rem (1280px) 
2xl 96rem (1536px)
*/

@media(width<768px) {
    .headerWrapper {
        margin-top: 0 !important;
    }
}

.slideBoxMenu {
    border-radius: 10px;
    box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.1);
}

.slideBoxMenu li a {
    text-decoration: none;
    color: #d7263d;
}